<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>이름</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <th th:text="${member.id}"></th>
                <th th:text="${member.name}"></th>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>